
*.class

*.apk

DemoApplication/bin/*

KalturaClient/bin/*

KalturaClientTester/bin/*


DemoApplication/gen/com/kaltura/activity/R.java

DemoApplication/gen/com/kaltura/activity/R.java

DemoApplication/gen/com/kaltura/client/R.java

KalturaClient/gen/com/kaltura/client/R.java

KalturaClientTester/gen/com/kaltura/client/R.java

DemoApplication.zip
